body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/public/jhl.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 #iDescription {
    width: 50%;
    height: 150px;
    position: absolute;
    left: 150px;
    bottom: 250px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:border-box;
    border: radius 20px;
    font-size: large;
  }

  #iiDescription {
    width: 50%;
    position: absolute;
    height: 150px;
    left: -280px;
    bottom: 250px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:border-box;
    border-radius: 8px;
  }

  #iNom {
    font-size: large;
    width: 10%;
    position: absolute;
    top: 200px;
    left: 150px;
    height: 20px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 42px;
  }
  #iiNom {
    width: 10%;
    position: absolute;
    top: 200px;
    left: 20px;
    height: 50px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 8px;
  }
  #iContact {
    font-size: large;
    width: 10%;
    position: absolute;
    bottom: 150px;
    left: 150px;
    height: 20px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 42px;
  }
  #iiContact {
    width: 10%;
    position: absolute;
    bottom: 140px;
    left: 10px;
    height: 50px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 8px;
  }
  #iNow{
    font-size:x-large;
    font-weight: bolder;
    color:tomato;
    position: absolute;
    bottom: 20px;
    left: 30px;
    height: 50px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 42px;
  }
  #iieMail {
    width: 10%;
    position: absolute;
    bottom: -23px;
    left: 10px;
    height: 50px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 8px;
  }
  #iEmail{
    font-size: large;
    width: 10%;
    position: absolute;
    bottom: -10px;
    left: 150px;
    height: 20px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 42px;
  }
  #iiPw {
    width: 10%;
    position: absolute;
    bottom: -93px;
    left: 10px;
    height: 50px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 8px;
  }
  #iPw {
    font-size: large;
    width: 10%;
    position: absolute;
    bottom: -80px;
    left: 150px;
    height: 20px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 42px;
  }
  #RNE{
    font-size: large;
    width: 10%;
    position: absolute;
    bottom: -150px;
    left: 150px;
    height: 20px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 42px;
  }

  #iiRNE{
    width: 10%;
    position: absolute;
    bottom: -160px;
    left: 10px;
    height: 50px;
    padding: 12px 20px;
    margin: 23px 0;
    box-sizing:content-box;
    border-radius: 8px;
  }
  #iButt{
    position: absolute;
    bottom: -200;
    right: 400px;
  }
#connectez{
  font: optional;
  font-style: italic;
  color: cyan;
}

.mailpass{
  font-weight: bold;
  color:springgreen;
}
#h1{
  color:springgreen;
}
#h11{
  color:fuchsia;
  font-style:oblique;
  font-weight: bold;
}

#Ese{
  border: 2cm solid #333;
  border-style: double;
  border-width: 15px;
  background-color: rgb(238, 237, 219);
  padding: 10px;
  font-style: italic;
}

#PE1{
  font-style:italic;
  position: absolute;
  left: auto;
  border: 0.1cm solid;
  border-width: 10px;
  padding: 10px;
  border-style: ridge;
  background-color: bisque;
}
#PE2{
  position: absolute;
  left: auto;
  top: 390px;
  border: 0.1cm solid;
  border-width: 10px;
  padding: 10px;
  border-style: ridge;
  background-color: bisque;
  font-style:italic;

}
#PE3{
  border: 0.1cm solid;
  border-width: 10px;
  padding: 10px;
  border-style: ridge;
  background-color: bisque;
  font-style:italic;
  position: absolute;
  bottom: 100px;
  right: auto;
}
#PE4{
  border: 0.1cm solid;
  border-width: 10px;
  padding: 10px;
  border-style: ridge;
  background-color: bisque;
  font-style:italic;
  position: absolute;
  bottom: 10px;
  right: auto;
}
#PE5{
  position: absolute;
  bottom: 50px;
  left: 200px;
}
